*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom, #0066ff 0%, #ff0000 100%);
}
.place{
    display: flex;
    padding: 10px;
    gap: 10px;
    align-items: center;
}
.place label,.place input{
    margin: 5px;
    font-size: 25px;
}
.whole{
    border: 2px solid;
    padding: 100px;
    border-radius: 10px;
    background: linear-gradient(to bottom, #ff0000 0%, #0066ff 100%);
    text-align: center;
}
.h1{
    margin-top: 0;
}
button{
    font-size: 27px;
    margin-top: 40px;
    padding: 8px;
    margin-right: 10px;
}
input[type="radio"]{
    transform: scale(1.5);
    margin-left: 9px;
}
.units label{
    font-size: 25px;
}
#result{
    margin-top: 50px;
    font-size: 30px;
}
button:hover{
    background-color: gray;
}